---
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import hashground from "../images/hasground.jpg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Shadows+Into+Light&display=swap"
			rel="stylesheet"
		/>
		<title>Document</title>
	</head>
	<body>
		
		<!--No logre hacer que la imagen ocupe todo el width pero no todo el height -->
		
		<div class="bg-[url(src/images/hasground.jpg)] bg-cover h-screen w-screen">
			<Navbar />
			<Header />
		</div>

	</body>
</html>
