---
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="Comisteichon" />
		<meta property="og:site_name" content="Comisteichon" />
		<meta property="og:url" content="https://comisteichon.cl" />
		<meta property="og:description" content="Pa comer" />
		<meta property="og:type" content="website" />
		<meta
			property="og:image"
			content="https://comisteichon.cl/hasground.jpg"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Shadows+Into+Light&display=swap"
			rel="stylesheet"
		/>
		<title>Comiste</title>
		

	</head>
	<body>
		<!--No logre hacer que la imagen ocupe todo el width pero no todo el height -->
		<!-- sm:bg-[url(https://i.etsystatic.com/34703086/r/il/4ed3d3/4404631365/il_570xN.4404631365_avqx.jpg)]  -->
		<div class={`bg-[url(https://comisteichon.cl/hasground.jpg)] bg-cover h-screen w-screen`}>
			<Navbar />
			<Header />
		</div>
	</body>
</html>
