---
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="Comisteichon" />
		<meta property="og:site_name" content="Comisteichon" />
		<meta property="og:url" content="https://comisteichon.cl" />
		<meta property="og:description" content="Pa comer" />
		<meta property="og:type" content="website" />
		<meta
			property="og:image"
			content="https://comisteichon.cl/hasground.jpg"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Shadows+Into+Light&display=swap"
			rel="stylesheet"
		/>
		<title>Comiste</title>
	</head>
	<body>
		<div class="relative">
			<!-- Fondo -->
			<div
				class="absolute blur-sm inset-0 bg-[url(https://wallpaperbat.com/img/898141-hasbulla-wallpaper.jpg)] bg-no-repeat bg-cover bg-center md:bg-left"
			>
			</div>
			<!-- Contenido -->
			<Navbar />
			<div class="relative z-10 flex items-center">
				<Header />
				<!-- Resto del contenido -->
			</div>
		</div>
	</body>
</html>
