---
import chupao from "../images/chupao.jpg";
import easterEgg from "../images/easterEgg.png";
import "animate.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="Comisteichon" />
		<meta property="og:site_name" content="Comisteichon" />
		<meta property="og:url" content="https://comisteichon.cl" />
		<meta property="og:description" content="Pa comer" />
		<meta property="og:type" content="website" />
		<meta
			property="og:image"
			content="https://comisteichon.cl/hasground.jpg"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Shadows+Into+Light&display=swap"
			rel="stylesheet"
		/>
		<title>Comiste</title>
	</head>
	<body>
		<div
			class="bg-gradient-to-r from-teal-400 to-yellow-200 bg-cover h-screen w-screen"
		>
			<div class="flex flex-col p-10 h-screen items-center justify-center">
				<h1
					class="font-extrabold sm:text-6xl text-4xl text-center text-white"
				>
					REFLEXIÓN SEMANAL
				</h1>
				<img
					src={chupao}
					alt="chupao"
					width="600"
					class="mx-auto block mt-4 animate__animated animate__rollIn rounded-2xl shadow-xl"
				/>
				<img
					id="easterEggImage"
					src={easterEgg}
					alt="easterEgg"
					width="600"
					class="mx-auto mt-4"
					style="display: none;"
				/>
			</div>
		</div>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				const showEasterEgg = () => {
					const easterEggImage = document.getElementById('easterEggImage');
					if (easterEggImage) {
						easterEggImage.style.display = 'block';
						easterEggImage.classList.add('animate__animated', 'animate__fadeInUp');
						setTimeout(() => {
							easterEggImage.classList.remove('animate__fadeInUp');
							easterEggImage.classList.add('animate__fadeOutDown');
						}, 1000); // Mostrar la imagen por 1 segundo
						setTimeout(() => {
							easterEggImage.style.display = 'none';
							easterEggImage.classList.remove('animate__fadeOutDown');
						}, 2000); // Ocultar la imagen después de 2 segundos
					}
				};
				setInterval(showEasterEgg, 8000); // Mostrar la imagen cada 10 segundos
			});
		</script>
	</body>
</html>
