---
import Navbar from "../components/Navbar.astro";
---

<header class="justify-center items-center">
    <div class="sm:ml-48 mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center">
            <h1
                class="font-extrabold sm:text-9xl text-6xl font-dancing-script"
            >
                Comisteichon
            </h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">
                Comiste comia ctm.
            </p>
            <div class="flex place-content-center pa">
                <a href="/comiste" class="mt-10 block w-full rounded-md bg-indigo-600 px-3 py-2 mx-8 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500">Mas Info.</a>
            </div>
            <div class="text-sm font-light text-gray-600 mt-4">
                Made by Yuntas Team
            </div>
        </div>
    </div>
</header>